dtd.dtd


<!ELEMENT TEI (header, facsimile?, text+) >
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA?)>
<!ELEMENT text (#PCDATA+)>

<!ATTLIST header 
          type CDATA #FIXED >
<!ATTLIST header 
          lang NMTOKEN #IMPLIED>
<!ATTLIST facsimile 
          source #REQUIRED>
<!ATTLIST facsimile 
          ref IDREFS #IMPLIED>
<!ATTLIST text 
          ID ID #REQUIRED >
<!ATTLIST text 
          type CDATA #IMPLIED>
